version: '3.8'

services:

  pgsql:
    container_name: 'pgsql'
    image: postgres:13.3
    ports:
      - "5433:5432"
    env_file:
      .env
    volumes:
      - pgsql_data:/var/lib/pgsql
    networks:
      - app-network

  backend:
    container_name: 'backend'
    build:
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    env_file:
      - .env
    volumes:
      - ./:/project
    command: python backend/main.py
    networks:
      - app-network

  qdrant:
    container_name: 'qdrant'
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - app-network

  frontend:
    container_name: 'frontend'
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network

  initial_data:
    container_name: 'initial_data'
    build:
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: "no"
    depends_on:
      - pgsql
    volumes:
      - ./:/project
    command: python backend/initial_data.py
    networks:
      - app-network


volumes:
  pgsql_data:
  qdrant_data:

networks:
  app-network:
    driver: bridge
